{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    <a class="btn btn-outline-danger" href="{{ path('app_shopping_list_index') }}">Cancel</a>
{{ form_end(form) }}
